/*************************************************************
 *
 * CSS樣式設定 - 顏色配置
 * By Yin, MaizuRoad
 *
 *************************************************************/
/* 背景顏色 */
/************************************************************/
button.material-icons {
  background-color: transparent;
}

.searchBar input[type="submit"]:hover,
.searchBar input[type="search"]:focus~input[type="submit"],
button:not(.material-icons),
.navbarTop>.menu .list>button:hover,
.profileCard {
  background-color: #2879f6;
}

body,
.banner:nth-child(odd) {
  background-color: #141414;
}

.banner:nth-child(even) {
  background-color: #204f98;
}

.yinShopping,
.searchBar input[type="submit"],
button:hover:not(.material-icons),
.navbarTop>.menu .list>button,
.profileCard button,
.profileDescription {
  background-color: #fff;
}

/* .searchBar input[type="submit"] {
  background-color: #131313;
} */

footer,
.navbarTop {
  background-color: #212121;
}

/************************************************************/
/* 文字顏色 */
/************************************************************/
button:hover,
code,
footer a:hover,
.login>form input:focus~span,
.searchBar input[type="search"]:hover,
.searchBar input[type="submit"],
.navbarTop>.menu .list>button,
.profileCard button,
.profileCard button:hover,
.profileDescription {
  color: #2879f6;
}

code:hover ,.profileCard .tag:hover {
  color: #f62885;
}

button,
footer,
footer a,
.searchBar input[type="submit"]:hover,
.searchBar input[type="search"]:focus~input[type="submit"],
.banner,
.navbarTop>.menu .list>button:hover,
.logo>h2,
.profileCard {
  color: #fff;
}

.searchBar input[type="search"] {
  color: #000;
}


/************************************************************/
/* 邊框顏色 */
/************************************************************/
.login>form input:focus,
.searchBar input[type="search"]:focus {
  border-color: #287af6;
}

/* .yinSearch-bar {
  border: 1px solid #161616;
}

.yinDetails .yinTags span {
  border: 1.5px solid rgba(255 255 255 / 0.4);
} */

/************************************************************/
/* 特殊顏色 */
/************************************************************/
/* 導覽列下拉選單顏色 */
/* .navbarTop>.menu .list::before {
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  background-color: #FFF;
} */

/* .navbarTop>.menu .list {
  background: #FFF;
  border: 0px solid #FFF;
} */