/*************************************************************
 *
 * CSS樣式設定 - 顏色配置
 *
 * 主文字顏色 .mainColor
 * 主背景顏色 .mainBackgroundColor
 * 主按鍵顏色 .mainButtonColor 
 * 輔文字顏色 .secondaryColor
 * 輔背景顏色 .secondaryBackgroundColor
 * 輔按鈕顏色 .secondaryButtonColor
 * 次要輔文字顏色 .thirdSecondaryColor
 * 次要輔背景顏色 .thirdSecondaryBackgroundColor
 * 次要輔按鈕顏色 .thirdSecondaryButtonColor
 *
 *************************************************************/
/* 背景顏色 */
/************************************************************/
button.material-icons {
    background-color: transparent;
}
button:not(.material-icons){
    color: #fff;
    background-color: #2879f6;
}

.profileCard button{
    background-color: #204f98;
}

.profileCard button:hover {
    color: #2879f6;
}

button,
button:hover:not(.material-icons){
    background-color: #fff;
    color: #2879f6;
}
.navbarTop>.menu .list>button{
    color: #2879f6;
}

.navbarTop>.menu .list>button:hover {
    background-color: #2879f6;
}

.profileCard button {
    border-color: #FFF;
}

.navbarTop>.menu .list>button{
    background-color: #fff;
}

.searchBar input[type="submit"]:hover,
.searchBar input[type="search"]:focus~input[type="submit"]{
    background-color: #2879f6;
}

.navbarTop>.menu .list>button:hover,
.profileCard button{
    color: #fff;
}

/************************************************************/
/* 背景顏色 */
/************************************************************/
body,
.secondaryBackgroundColor,
.banner:nth-child(even) {
    background-color: #141414;
}

.banner:nth-child(odd) {
    background-color: #204f98;
}

.thirdSecondaryBackgroundColor,
.yinShopping,
.searchBar input[type="submit"],

.profileDescription,
.productItem {
    background-color: #fff;
}

/* .searchBar input[type="submit"] {
    background-color: #131313;
  } */

footer {
    background-color: #212121;
}

.navbarTop {
    background-color: rgb(33, 33, 33, .8);
}

#floatingShoppingList {
    background-color: rgba(0, 0, 0, 0.7);
}
/************************************************************/
/* 文字顏色 */
/************************************************************/
code,
footer a:hover,
.login>form input:focus~span,
.searchBar input[type="search"]:hover,
.searchBar input[type="submit"]{
    color: #2879f6;
}

code:hover,
.profileCard .tag:hover,#floatingShoppingList .deleteProduct {
    color: #f62885;
}


footer,
footer a,
.searchBar input[type="submit"]:hover,
.searchBar input[type="search"]:focus~input[type="submit"],
.banner,
.logo>h2,
.profileCard,
.recommendProduct>h1,
.card-details {
    color: #fff;
}

.searchBar input[type="search"],
.profileDescription {
    color: #000;
}

#floatingShoppingList .deleteProduct:hover{
    color: #b22424;   
}
/************************************************************/
/* 邊框顏色 */
/************************************************************/
.login>form input:focus,
.searchBar input[type="search"]:focus {
    border-color: #287af6;
}

/* .yinSearch-bar {
    border: 1px solid #161616;
  }
  
  .yinDetails .yinTags span {
    border: 1.5px solid rgba(255 255 255 / 0.4);
  } */

/************************************************************/
/* 特殊顏色 */
/************************************************************/
/* 導覽列下拉選單顏色 */
/* .navbarTop>.menu .list::before {
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    background-color: #FFF;
  } */

/* .navbarTop>.menu .list {
    background: #FFF;
    border: 0px solid #FFF;
  } */