.login-background {
    margin: 0 auto;
    height: 100vh;
    min-height: 770px;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 50px 40px;
    border-radius: 30px;
    text-align: center;
}

.login>.logo {
    margin: 0 auto 16px;
    border-radius: 50%;
    padding: 2px;
    width: 120px;
    height: 120px;
}

.login>.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid transparent;
}

/* .login>.logo:hover {
    background: linear-gradient(-45deg, #2879f6, #204f98);
} */

.login>h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 22px 0;
}

.login>form {
    display: grid;
    gap: 16px;
    place-items: center;
    width: 100%;
    margin: 0;
}

.login-textbox {
    width: 100%;
    position: relative;
}

.login-textbox span {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 16px;
    translate: 0 -50%;
    color: rgba(255, 255, 255, 0.38);
}

.login>form input,
.login>form button {
    width: 100%;
    height: 50px;
    font-size: 13px;
    border-radius: 8px;
}

.login>form input {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    font-size: 18px;
    padding: 0 20px 0 50px;
    color: inherit;
}

a.backhome {
    color: gray;
    text-align: right;
}

a.backhome:hover {
    color: darkgray;
}