<nav class="navbar navbar-expand-md topnavbar" style="position: fixed;top:0;width: 100%;z-index: 999;">
    <a class="navbar-brand navbarlogo" href="?page=home">{if isset($site_name)}{$site_name}{else}LOGO{/if}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
        <ul class="navbar-nav ml-auto">
            {foreach $navbarList as $value}
            <li class="nav-item topnavbar-item">
                <a class="nav-link" href="{$value}">
                    {$value@key}
                </a>
            </li>
            {/foreach}
            {if isset($memberAccount)}
            <li class="nav-item">
                <a class="nav-link nav-cart material-icons" onclick="$('#cartMask').toggle(); updateCartUI();" href="#cart">
                    &#xeb88
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-login material-icons" href="?page=member">
                    &#xe853
                </a>
            </li>
            {/if}
            <li class="nav-item">
                <a class="nav-link nav-log{if isset($loggedin)}out{else}in{/if} material-icons" href="?page=log{if isset($loggedin)}out{else}in{/if}">
                    &#x{if isset($loggedin)}e9ba{else}ea77{/if};
                </a>
            </li>
        </ul>
    </div>
</nav>