{if isset($ccc)}
<script>
    window.onload = function () {
    var phChart = new CanvasJS.Chart("asdadasd", {
        animationEnabled: true,
        exportEnabled: true,
        theme: "light1", // "light1", "light2", "dark1", "dark2"
        //title:{text: "pH value"},
        axisY: {title: "商品銷售金額曲線"},
        data: [{
            color: "#1F618D",
            type: "bar", //change type to bar, line, area, pie 
            dataPoints: '[{"y":null,"label":null}]'
        }]
    });
    phChart.render();
}
</script>
<div id="asdadasd" style="height: 370px; width: 100%;"></div><br/>
{else}
<h1><i>沒有資料</i></h1>
{/if}