{* 請從 $component.param 抓取元件參數 *}

<!-- profileCard -->
<div class="mainColor profileCard">
    <img src="{if isset($user.avatar)}{$user.avatar}{else}/assets/images/quaso.png{/if}" {if isset($user.profileColor)}style="background-color: {$user.profileColor};"{/if}/>
    <div>
        <h2>{if isset($user.nickname)}{$user.nickname}{/if}</h2>
        <h3>@{if isset($user.account)}{$user.account}{/if}</h3>
        {if isset($user.roles)}
        {foreach $user.roles as $role}
        <button class="tag" {if isset($user.profileColor)}style="background-color: {$user.profileColor};" {/if}><span class="material-icons" >&#xe7ef</span>&nbsp;{$role}</button>
        {/foreach}
        {/if}
        <div class="profileDescription" {if isset($user.profileColor)}style="border-color:{$user.profileColor};background-color:rgba(255, 255, 255,1);color: rgba(0,0,0,1);" {/if}>
            {if isset($status)}<span class="delete">* 該帳戶已被停用 *</span>{else}{if isset($user.introduction)}{$user.introduction}{/if}{/if}
        </div>
        <code style="display: none;">{$user.mid}</code>
    </div>
</div>
<!-- profileCard 靠右版本 -->
<!-- <div class="profileCard right">
    <div style="width: 100%;">
        <h2>{if isset($user.introduction)}{$user.nickname}{/if}</h2>
        <div class="profileDescription">
            {if isset($user.introduction)}{$user.introduction}{/if}
        </div>
        {if isset($user.roles)}
        {foreach $user.roles as $role}
        <button class="tag">#{$role}</button>
        {/foreach}
        {/if}
    </div>
    <img class="right" src="/assets/images/pexels-mark-glancy-1564506.jpg" />
</div> -->
<!-- profileCard EOF -->