<!--交易確認-->
<section>
  <div class="content">
    <div class="list_title">
      <p style="
          padding: 10px;
          margin: 0 auto;
          background-color: #2475b2;
          width: 100%;
          color: azure;
        ">
        商品確認頁面
      </p>
      <br />
    </div>
    <div style="text-align: center;" class="list">
      <div class="confirm_img">
        <img src="{$product.image_url}" />
      </div>
      <span id="productName">{$product.name}</span>
      <div class="introduce">
        {$product.description}
      </div>
      <hr />
      <div class="buttonArea">
        <p>總金額：＄<span id="productAmount">{$product.price}</span></p>
        <form id="dnposter" class="confirm" method="POST" action="?page=check2_payment">
          <input type="hidden" value="{$product.id}" name="cert" />
          <input class="checkout" value="確認並產生訂單" type="submit" name="submit" />
        </form>
      </div>
    </div>
  </div>
</section>

<div style="margin: 0 auto; padding: 10px 10px; min-height: 300px;">
  商店說明：關於商店的說明...
</div>