{* 請從 $component.param 抓取元件參數 *}

<!-- signup -->
<div class="mainColor login-background">
    <div class="thirdSecondaryBackgroundColor login">
        <h2>REGISTER</h2>
        <!-- <div class="logo">
            <a href="#點了不會怎樣，登入頁面也有這個沒屁用的功能"><img src="/assets/images/logo.png" /></a>
        </div> -->
        <span id="passwordHint" style="display: block;margin: 16px 0px;">&nbsp;</span>
        <form class="login-form" action="" method="POST">
            <div class="login-textbox">
                <input value="{if isset($nickname)}{$nickname}{/if}" type="text" placeholder="Nickname" name="nickname"
                    id="nickname" minlength="3" maxlength="18" required />
                <span class="material-icons">&#xef73</span>
            </div>
            <div class="login-textbox">
                <input value="{if isset($account)}{$account}{/if}" type="text" placeholder="Account" name="account"
                    id="account" minlength="3" maxlength="18" pattern="[a-zA-Z0-9\._\-#@$]+" required />
                <span class="material-icons">&#xe853</span>
            </div>

            <div class="login-textbox">
                <input type="password" placeholder="Password" name="password" id="password" maxlength="513" required
                    onchange="checkpw('password','passwordCheck','passwordHint')" />
                <span class="material-icons">&#xe73c</span>
            </div>

            <div class="login-textbox">
                <input type="password" placeholder="Enter the password again" name="passwordCheck" id="passwordCheck"
                    maxlength="513" required onchange="checkpw('password','passwordCheck','passwordHint')" />
                <span class="material-icons">&#xe73c</span>
            </div>
            {if $errorMessage eq "ACCOUNT_EXISTS"}
            <!-- Account already exists -->
            <span class="delete"">* 帳戶已存在</span>
            {elseif $errorMessage eq "ACCOUNT_ERROR"}
            <!-- Wrong account -->
            <span class="delete">* 帳號錯誤，請使用英文及數字組合</span>
            {elseif $errorMessage eq "PASSWORD_NO_MATCH"}
            <!-- Passwords do not match -->
            <span class="delete">* 再次輸入密碼錯誤</span>
            {elseif $errorMessage eq "PASSWORD_WRONG"}
            <!-- Wrong password -->
            <span class="delete">* 密碼格式不符，請符合複雜性密碼原則</span>
            {/if}
            <button type="submit">SIGN UP!!</button>
            <br />
            <a class="backhome" href="?route=login">BACK LOGIN</a>
        </form>
    </div>
</div>
<!-- signup EOF-->