{* 請從 $component.param 抓取元件參數 *}

<!-- 第三頁開始 -->

<div class="recommendProduct">
    <h1><span>M</span>aybe you'll like...</h1>
    <div class="wrapper">
        <a class="card" href="###">
            <div class="card-image">
                <img src="/assets/images/pexels-mark-glancy-1564506.jpg" alt="Location Unknown">
            </div>
            <div class="card-details">
                <h1>#服裝 Clothing# </h1>
                <!-- <div class="tags">
                    <span>#tag#</span>
                    <span>#tag#</span>
                    <span>#tag#</span>
                </div> -->
                <h2>#Women's Clothing • Men's Clothing • Children's Clothing# </h2>
            </div>
        </a>
        <a class="card" href="###">
            <div class="card-image">
                <img src="/assets/images/pexels-mark-glancy-1564506.jpg" alt="Location Unknown">
            </div>
            <div class="card-details">
                <h1>#服裝 Clothing# </h1>
                <!-- <div class="tags">
                    <span>#tag#</span>
                    <span>#tag#</span>
                    <span>#tag#</span>
                </div> -->
                <h2>#Women's Clothing • Men's Clothing • Children's Clothing# </h2>
            </div>
        </a>
        <a class="card" href="###">
            <div class="card-image">
                <img src="/assets/images/pexels-mark-glancy-1564506.jpg" alt="Location Unknown">
            </div>
            <div class="card-details">
                <h1>#服裝 Clothing# </h1>
                <!-- <div class="tags">
                    <span>#tag#</span>
                    <span>#tag#</span>
                    <span>#tag#</span>
                </div> -->
                <h2>#Women's Clothing • Men's Clothing • Children's Clothing# </h2>
            </div>
        </a>
    </div>
</div>

<!-- 第三頁結束 -->