{* 請從 $component.param 抓取元件參數 *}


<div class="profileCard left" {if isset($user.profileColor)}style="background-color: {$user.profileColor};" {/if}>
    <img class="left" src="/assets/images/pexels-mark-glancy-1564506.jpg" />
    <div style="width: 100%;">
        <h2>{if isset($user.nickname)}{$user.nickname}{/if}</h2>
        <div class="profileDescription" {if isset($user.profileColor)}style="color: {$user.profileColor};" {/if}>
            {if isset($user.introduction)}{$user.introduction}{/if}
        </div>
        {if isset($user.roles)}
        {foreach $user.roles as $role}
        <button class="tag" {if isset($user.profileColor)}style="color: {$user.profileColor};" {/if}>#{$role}</button>
        {/foreach}
        {/if}
        <code style="display: none;">{$user.mid}</code>
    </div>
</div>

<!-- <div class="profileCard right">
    <div style="width: 100%;">
        <h2>{if isset($user.introduction)}{$user.nickname}{/if}</h2>
        <div class="profileDescription">
            {if isset($user.introduction)}{$user.introduction}{/if}
        </div>
        {if isset($user.roles)}
        {foreach $user.roles as $role}
        <button class="tag">#{$role}</button>
        {/foreach}
        {/if}
    </div>
    <img class="right" src="/assets/images/pexels-mark-glancy-1564506.jpg" />
</div> -->