{* 請從 $component.param 抓取元件參數 *}

<!-- Null -->
<div style="margin: 0 auto;" class="w-75">
    <!-- products list -->
    <div class="d-inline-block card w-25">
        <div class="card-body m-2">
            <div class="d-inline-block"><img class="img-thumbnail"
                    src="https://cdn.discordapp.com/attachments/1174601819490615356/1180439950550896671/image.png?ex=657d6d5f&is=656af85f&hm=fc86d2364e9e06cf92336a45186b423af480ec9107f5c1b82490d7382f672027&" />
            </div>
            <div class="d-block card-title">商品名稱</div>
            <div class="d-block card-text">
                <div class="d-inline-block">$5000</div>
                <button class="btn btn-success">直接購買</button>
            </div>
        </div>
    </div>
    <div class="d-inline-block card w-25">
        <div class="card-body m-2">
            <div class="d-inline-block"><img class="img-thumbnail"
                    src="https://cdn.discordapp.com/attachments/1174601819490615356/1180439950550896671/image.png?ex=657d6d5f&is=656af85f&hm=fc86d2364e9e06cf92336a45186b423af480ec9107f5c1b82490d7382f672027&" />
            </div>
            <div class="d-block card-title">商品名稱</div>
            <div class="d-block card-text">
                <div class="d-inline-block">$5000</div>
                <button class="btn btn-success">直接購買</button>
            </div>
        </div>
    </div>
    <div class="d-inline-block card w-25">
        <div class="card-body m-2">
            <div class="d-inline-block"><img class="img-thumbnail"
                    src="https://cdn.discordapp.com/attachments/1174601819490615356/1180439950550896671/image.png?ex=657d6d5f&is=656af85f&hm=fc86d2364e9e06cf92336a45186b423af480ec9107f5c1b82490d7382f672027&" />
            </div>
            <div class="d-block card-title">商品名稱</div>
            <div class="d-block card-text">
                <div class="d-inline-block">$5000</div>
                <button class="btn btn-success">直接購買</button>
            </div>
        </div>
    </div>
    <div class="d-inline-block card w-25">
        <div class="card-body m-2">
            <div class="d-inline-block"><img class="img-thumbnail"
                    src="https://cdn.discordapp.com/attachments/1174601819490615356/1180439950550896671/image.png?ex=657d6d5f&is=656af85f&hm=fc86d2364e9e06cf92336a45186b423af480ec9107f5c1b82490d7382f672027&" />
            </div>
            <div class="d-block card-title">商品名稱</div>
            <div class="d-block card-text">
                <div class="d-inline-block">$5000</div>
                <button class="btn btn-success">直接購買</button>
            </div>
        </div>
    </div>
    <div class="d-inline-block card w-25">
        <div class="card-body m-2">
            <div class="d-inline-block"><img class="img-thumbnail"
                    src="https://cdn.discordapp.com/attachments/1174601819490615356/1180439950550896671/image.png?ex=657d6d5f&is=656af85f&hm=fc86d2364e9e06cf92336a45186b423af480ec9107f5c1b82490d7382f672027&" />
            </div>
            <div class="d-block card-title">商品名稱</div>
            <div class="d-block card-text">
                <div class="d-inline-block">$5000</div>
                <button class="btn btn-success">直接購買</button>
            </div>
        </div>
    </div>
</div>
<!-- Null EOF -->