<br />
<h2 style="padding: 0 10px;">商品調整頁面</h2>
<br />
{if isset($setPid)}
<br />
<div class="container">
    <div class="image" onmouseover="show('PRODUCT_UPLOADICON')" onmouseout="hide('PRODUCT_UPLOADICON')" style="position: relative;">
        <img src="{$product.image_url}" alt="product image" style="width: 512px;" />
        <span id="PRODUCT_UPLOADICON" class="material-icons uploadIcon" onclick="trigger('PRODUCT_IMAGE_UPLOAD')" style="font-size: 60px;">&#xe9fc;</span>
        <form id="PRODUCT" enctype="multipart/form-data">
            <input name="IMAGE_UPLOAD" id="PRODUCT_IMAGE_UPLOAD" type="file" style="display: none;" accept=".png,.jpg,.jpeg" onchange="uploadImage('PRODUCT')">
            <input name="IMAGE_TYPE" id="PRODUCT_IMAGE_TYPE" type="hidden" value="PRODUCT_IMAGE">
            <input name="IMAGE_RENAME" id="PRODUCT_IMAGE_RENAME" type="hidden" value="{$product.id}">
        </form>
    </div>
    <div class="info">
        <div>
            <form method="post">
                <input type="hidden" name="pid" value="{$product.id}" />
                <div class="product-name">
                    商品名稱<input type="text" name="pName" value="{$product.name}" />
                </div>
                <div class="price">
                    售價<input type="text" name="pPrice" value="{$product.price}" />
                </div>
                <div class="description">
                    商品描述
                    <textarea name="pDesc">{$product.description}</textarea>
                </div>
                <button name="edit" class="edit-product btn-lg btn-block" type="submit" style="width: 100%;"
                    onclick="return editProduct('{$p.id}');">
                    儲存修改
                </button>
                <br/>
            </form>
        </div>
        <a href="?page=member&action={$action}" class="btn btn-info btn-lg btn-block">返回清單</a>
    </div>
</div>
{else}
<div class="css_table" style="padding: 0 10px;">
    <div class="css_tr">
        <div class="css_td"><strong>編號</strong></div>
        <div class="css_td"><strong>圖示</strong></div>
        <div class="css_td"><strong>品項/分類</strong></div>
        <div class="css_td"><strong>售價</strong></div>
        <!-- <div class="css_td"><strong>分類</strong></div> -->
        <div class="css_td"><strong>操作/上架狀態</strong></div>
    </div>
    {foreach $products as $p}
    <div class="css_tr">
        <div class="css_td"><code>{$p.id}</code></div>
        <div class="css_td">
            <div class="td_img"><img src="{$p.image_url}" /></div>
        </div>
        <div class="css_td">{$p.name}<br />[{$p.type}]</div>
        <div class="css_td">{$p.price}</div>
        <!-- <div class="css_td">{$p.type}</div> -->
        <div class="css_td">
            <a href="?page=member&action={$action}&pid={$p.id}" class="btn btn-info btn-sm">編輯</a>
            <a href="#selected" class="btn btn-danger btn-sm" onClick="return deleteProduct('{$p.id}');">刪除</a>
            <label class="switch">
                <input type="checkbox" onchange="setStatusProduct('{$p.id}',this)" {if $p.status == 1}checked{/if}>
                <span class="slider">&zwj;</span>
            </label>
            <!-- 
            {if $p.status == 2}
            <a href="#changeStatus" class="btn btn-warning btn-sm" onClick="return setStatusProduct('{$p.id}',1);">上架</a>
            {else}
            <a href="#changeStatus" class="btn btn-secondary btn-sm" onClick="return setStatusProduct('{$p.id}',2);">下架</a>
            {/if} -->
        </div>
    </div>
    {/foreach}
    <form class="css_tr" method="post">
        <div class="css_td"><code>NEW</code></div>
        <div class="css_td">
            <div class="td_img">No Image</div>
        </div>
        <div class="css_td"><input name="pName" type="text" value="" />
            <!--{if isset($ptypes)}
            <select name="pType">
                {foreach $ptypes as $p}
                <option>{$p.name}</option>
                {/foreach}
            </select>
            {/if}-->
        </div>
        <div class="css_td"><input name="pPrice" type="text" value="" /></div>
        <!-- <div class="css_td">{$p.type}</div> -->
        <div class="css_td">
            <button name="add" value="1" type="submit" class="btn btn-success btn-sm">新增</button>
        </div>
    </form>
</div>
{if isset($Failed2Add)}
<script>
    alert("新增失敗...");
</script>
{/if}
{/if}