{* 請從 $component.param 抓取元件參數 *}

<!-- NavberTop -->
<nav class="mainColor navbarTop">
    <div class="logo">
        <a href="?route=home"><img src="{$icon}"></a>
        {if isset($siteName)}<h2>{$siteName}</h2>{/if}
    </div>
    <form class="searchBar" method="POST" action="?route=search">
        <input type="search" name="search" placeholder="新會員享優惠免運" /><input class="material-icons" value="&#xe8b6"
            type="submit" name="submit" autocomplete="搜尋項目" />
    </form>
    <div class="menu">
        {foreach $component.param as $navbar}
        {if is_array($navbar.link)}
        <div class="dropdown">
            <button class="mainButtonColor"><span class="material-icons">&#xe5cf&nbsp;</span>{$navbar.displayname}</button>
            <div class="list">
                {foreach $navbar.link as $dropdown}
                <button class="secondaryButtonColor" onclick="window.location.href='{$dropdown.link}'">{if isset($dropdown.icon)}<span
                        class="material-icons">&#x{$dropdown.icon}&nbsp;</span>{/if}{$dropdown.displayname}</button>
                {/foreach}
            </div>
        </div>
        {else}
        <button class="mainButtonColor" onclick="window.location.href='{$navbar.link}'">{if isset($navbar.icon)}<span
                class="material-icons">&#x{$navbar.icon}&nbsp;</span>{/if}{$navbar.displayname}</button>
        {/if}
        {/foreach}
        {if isset($mid)}
        {if isset($admin)}
        <button class="mainButtonColor" onclick="window.location.href='?route=admin'"><span
            class="material-icons">&#xe8b8&nbsp;</span>管理</button>
        {/if}
        <button id="CartView" class="mainButtonColor material-icons" href="#cart">
            &#xe8cc
        </button>
        <button class="mainButtonColor material-icons" onclick="window.location.href='?route=member'">
            &#xe853
        </button>
        {/if}
        <button class="mainButtonColor material-icons" onclick="window.location.href='?route={if isset($mid)}logout{else}login{/if}'">
            &#x{if isset($mid)}e9ba{else}ea77{/if};
        </button>
    </div>
</nav>
<div style="height: 86px;width: 100%;margin: 0 auto;">
    <code>如果看到這行，代表你導覽列並不是第一個元件，請修復它</code>
</div>
<!-- --------------------------------------------------- -->
<div id="floatingShoppingList" class="d-none">
    <div class="list">
        
    </div>
    <div id="productsCount" style="margin: 0 auto;width: 100%;color: #FFF;text-align: center;"></div><br/>
    <div style="width: 100%;text-align: center;"><button>結帳</button></div>
</div>
<!-- NavberTop EOF -->