{* 請從 $component.param 抓取元件參數 *}

<!-- login -->
<div class="mainColor login-background" >
    <div class="login" style="background-color: rgba(0,0,0,.2);">
        <h2>LOGIN</h2>
        <div class="logo">
            <a href="#這顆按鈕沒啥屁用只是跟你說Hello"><img class="mainBorderColor" src="{$icon}" /></a>
        </div>
        <form class="login-form" action="" method="POST">
            <div class="login-textbox">
                <input value="{if isset($account)}{$account}{/if}" type="text" placeholder="Account" name="account"
                    id="account" minlength="3" maxlength="18" pattern="[a-zA-Z0-9\._\-#@$]+" required />
                <span class="material-icons">&#xe7fd</span>
            </div>
            <div class="login-textbox">
                <input type="password" placeholder="Password" name="password" id="password" maxlength="513" required />
                <span class="material-icons">&#xe73c</span>
            </div>
            {if isset($loginfail)}
            {if $loginfail eq "LOGINFAIL"}
            <!-- Incorrect account or password -->
            <span class="delete">* 帳號或密碼錯誤</span>
            {else}
            <!-- This account has been disabled, please contact your system administrator -->
            <span class="delete">* 此帳戶已被停用，請洽詢系統管理員</span>
            {/if}
            {else}
            <br />
            {/if}
            <button type="submit">LOGIN</button>
            <a href="?route=register">沒有帳號嗎? 建立一個新用戶</a>
            <a class="backhome" href="?route=home">BACK</a>
        </form>
    </div>
</div>
<!-- login EOF-->